.booking-status {

  .accepted {
      color: green;
      font-weight: bolder;
  }

  .pending {
    color: #e59500;
    font-weight: bolder;
  }

  .rejected {
    color: red;
    font-weight: bolder;
  }
}
