.show-container {

  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 80vh;
  margin-top: 2rem;

  h1 {

    text-align: center;
    margin-bottom: 2rem;

  }

}

.show-row {

  justify-content: space-evenly;
  align-items: center;

}

.card-notdog-show {

  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;

  .book-button {
    margin-bottom: 5px;
  }

  img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }
}

.infos {

  display: flex;
  flex-direction: column;

}


.details {

  h2{
    text-align: center;
  }
}

.map {
  height: 300px;
  width: 300px;
  border: 1px solid black;

}

