<div class="row d-flex col-lg">
  <%= form_tag notdogs_path, method: :get, class: "d-flex flex-nowrap justify-content-left w-100" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control mb-3",
      placeholder: "Search by city, Notdog category or habitat"%>
    <%= submit_tag "Search", class: "btn btn-primary", style: "height: 38px" %>
  <% end %>
</div>
