<div class="container d-flex justify-content-center">
  <%= form_tag notdogs_path, method: :get, class: "d-flex flex-wrap justify-content-center w-50" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control mb-3",
      placeholder: "Search by city, Notdog category or habitat"
    %>
    <div>
      <%= submit_tag "Search", class: "btn btn-flat" %>
    </div>
  <% end %>
</div>
