<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://image5.sixthtone.com/image/5/23/209.jpg);">
  <div class="d-flex justify-content-center">
    <h1><span id="banner-typed-text"></span></h1>
  </div>
  <%= render "search_bar" %>
  <div class="d-flex justify-content-center m-5">
    <%= link_to "Find your perfect pet!", notdogs_path, class: "btn btn-flat" %>
  </div>
</div>
