// Import page-specific CSS files here.
@import "home";

.main-header {
  color: $logo-orange;
  display: inline;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0px;
  padding: 24px;
  flex-wrap: wrap;
  flex-grow: 1;
  background: white;
  h1 {
    font-size: 2.3rem;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0;
  width: 50vw;
}

#main-index-div {
  display: flex;
}

/*Smallest device*/
@media (min-width: 100px) and (max-width: 1024px) {
  #main-index-div {
    display: block;
  }
  #map {
    width: 100vw;
  }
}
