.show-container {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 75vh;
  margin-top: 2rem;

  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.show-row {
  justify-content: space-evenly;
  align-items: center;
}

.book-button {
    text-align: center;
    margin-bottom: 0.5rem;
  }

.infos {
  display: flex;
  flex-direction: column;
}

.details {
  h2{
    text-align: center;
  }
}

.map {
  height: 300px;
  width: 300px;
  border: 1px solid black;
}

.card-notdog {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-notdog > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-notdog h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-notdog p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-notdog .card-notdog-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-notdog-infos .card-notdog-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
