.show-container {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 75vh;
  margin-top: 2rem;

  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.show-row {
  justify-content: space-evenly;
  align-items: center;
}

.book-button {
    text-align: center;
    margin-bottom: 0.5rem;
  }

.infos {
  display: flex;
  flex-direction: column;
}

.details {
  h2{
    text-align: center;
  }
}

.map {
  height: 300px;
  width: 300px;
  border: 1px solid black;
}

.card-notdog-show {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-notdog-show > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-notdog-show h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-notdog-show p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-notdog-show .card-notdog-infos-show {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-notdog-infos-show .card-notdog-user-show {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

// Messages

.messages {

  display: flex;
  flex-grow: 1;
  flex-direction: column;


  h2 {
    text-align: center;

  }



}

.interaction {

  background-color: #e5e5e5;

  .created-at {

    color: #dbdbdb;

  }

  .updated-at {

    color: #c4c4c4;

  }

  border: 1px solid black;

  // Pregunta
  .message-body {

    background-color: #fffddb;
    display: flex;
    justify-content: space-between;

  }

  // Respuesta
  .message-answer {

    margin-left: 1rem;
    background-color: #e5e5e5;
    display: flex;
    justify-content: space-between;

  .flecha-respuesta {

    transform: rotate(90deg);


  }

  }
}
