.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 92.3vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

#banner-typed-text {
  display: inline-block;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $logo-orange;
  opacity: 0.7;
  transition: 0.3s ease;
}

.btn-flat:hover {
  opacity: 1;
  color: white;
}
