.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
 height: 5vh;
}

.scrolled-down{
   transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
   transform:translateY(0); transition: all 0.3s ease-in-out;
}

.navbar-invisible-div {
  background-color: white;
}

/*Smallest device*/
@media (min-width: 100px) and (max-width: 576px) {
  .navbar-lewagon .navbar-brand img {
    height: 10vh;
  }
  .navbar-invisible-div {
    height: 11vh;
    margin-bottom: 28px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .navbar-lewagon .navbar-brand img {
    height: 7.5vh;
  }
    .navbar-invisible-div {
    height: 8.5vh;
    margin-bottom: 24px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .navbar-lewagon .navbar-brand img {
    height: 5vh;
  }
  .navbar-invisible-div {
    height: 6vh;
    margin-bottom: 16px;
  }
}
