<div class='container'>
  <h1 class="main-header">Reviews</h1>
  <div class='row'>
    <% @reviews.each do |review| %>
    <%= review.user_score %>
    <%= review.user_score %>
    <% end %>
  </div>
</div>
