<div class='container'>
  <h1 class="main-header">Reviews</h1>
  <div class='row'>
    <div class='rating-box'>
      <h3> Rating </h3>
      <div class='ratings'>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
      </div>
    </div>
  </div>
</div>
