<div class='container mt-5'>
  <h1 class="main-header">Reviews</h1>
  <div class='row'>
     <div class="col-12">
        <% @reviews.each do |review| %>
        <div class=" mb-3">
            <p> Score: <%= review.user_score %> <i class="fas fa-star" style="color: #ffcd3c"></i> </p>
            <p> Review: <%= review.user_review %></p>
        </div>
        <hr>
        <% end %>
          <%= link_to "Back to Explore", notdogs_path %>
      </div>
  </div>
</div>
